html, body{
  margin: 0;
  padding: 0;
}

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App{
  position: relative;
  background-color: #283E51;
  /*height: 100vh;*/
  padding-bottom: 30px;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #283E51, #0A2342);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#283E51), to(#0A2342));
  background: -webkit-linear-gradient(bottom, #283E51, #0A2342);
  background: -o-linear-gradient(bottom, #283E51, #0A2342);
  background: linear-gradient(to top, #283E51, #0A2342); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -o-linear-gradient(to top, #283E51, #0A2342);
  /*z-index: -1;*/
}

.landing-container {
  /*background-color: grey;*/

  width: 100%;
  height: 100vh;
  position: relative;
  /*background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;*/
  /*height: 100%;*/
  /*background-size: cover;*/
}

.landing-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  /*background-color: green;*/
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.name {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 300;
  font-size: 5em;
  margin: 0 auto;
  color: white;
  letter-spacing: 2px;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: white;
}

/*.arrow-container {
  position: absolute;
  left:50%;
  top:85%;
  transform: translateX(-50%);
  text-align: center;
}*/

/*.arrow-description {
  color: white;
  font-size:
}*/

.arrow{
  position: absolute;
  left:50%;
  top:90%;
  margin-left: -20px;
  /*transform: translateX(-20px);*/
  width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;

border-top: 20px solid white;
}

.content-container {
  height: 100vh;
  background-color: white;
  padding: 50px;
  padding-bottom: 0;
  background: linear-gradient(0deg, blue, green 40%, #283E51);
}

/*z-index: 2;
margin: 0 auto;
width: 80%;
height: 100vh;
background-color: white;
padding: 50px;
padding-bottom: 0;
border-top-left-radius: 1em;
border-top-right-radius: 1em;*/

.header {
  font-family: 'Bad Script', cursive;
  text-align: center;
  /*height: 50px;*/
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 3em;
  font-weight: bold;
}

.project-container {
  z-index: 2;
  /*background-color: rgba(255,255,255,0.3);*/
  background: rgba(112, 112, 112, 0.57);
  margin-bottom: 5%;
}

.project-title {
  background-color: #6388FF;
  /*background-color: #E88A12;*/
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 5px;
  text-align: center;
}

.project-description {
  font-size: 1em;
}

 .project-rest{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/*.icon-for-dev {
  font-size: 300%;
  margin-bottom: 8%;
  margin-left: 10%;
  display: inline-block;
}*/

.project-links {
  margin-top: 20px;
}

a.button {
  /*font-size: 1em;*/
  padding: 6px;
  text-decoration: none;
  /*margin-top: 10px;*/
}

a.link-github {
  background-color: #c4e125;

  margin-right: 10px;

}

a.button:hover {
  text-decoration: none;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

a.link-site {
  background-color: #b7f2f4;
}

.project-image{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-size: contain;*/
  /*background-position: top;*/
  border-radius: 5px;
  /*display: block;*/
}

#project1-image {
  background-image: url(../../Assets/Zombie4.png);
}

#project2-image {
  background-image: url(../../Assets/Zombie4.png);
}

#project3-image {
  background-image: url(../../Assets/Zombie4.png);
}

#project4-image {
  background-image: url(../../Assets/Zombie4.png);
}

@media only screen and (max-width:406px) {
  .name{
    font-size: 1.8em;
  }
  .title{
    font-size: 1.2em;
  }
  .content-container{
    width: 90%
  }
  .project-image{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width:429px) and (min-width: 405px){
  .name{
    font-size: 1.9em;
  }
  .title{
    font-size: 1em;
  }
  .project-image{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width:768px) and (min-width:430px){
  .name{
    font-size: 2.7em;
  }
  .title{
    font-size: 1.5em;
  }
  .project-image{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width:992px) and (min-width:769px){
  .project-image{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media only screen and (max-width:1032px) and (min-width:769px){
  .name{
    font-size: 3em;
  }
}
